* {
  padding: 0;
  margin: 0;
}

p {
  text-align: center;
  padding: 1%;
}

body{
  display: flex;
  flex-direction: column;
  font-family: "Ysabeau SC", sans-serif;
  height: 800px;
}

.encabezado {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  background-color: #7C90A0;
}

main{
  height: 80%;
}

.boton-main {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #F1DAC4;
  text-decoration: none;
  color: #201E1F;
  border-radius: 10px;
  font-weight: 600;
}

.boton-main:hover {
  background-color: #201E1F;
  color: #F1DAC4;
}

#dark {
  background-color: #201E1F;
  color: #F1DAC4;
}

#dark:hover {
  background-color: #AA6373;
  color: snow;
}


.titulo{
  background-image: url(../img/fondo-gris.jpg);
  color: #f3e9e0;
  height: auto;
  font-size: xx-large;
  font-weight: 600;
  margin: 0;
  padding: 0;
  bottom: 0;
}

main{
  background-image: url(../img/fondo.jpeg);
}

#opciones{
  height: 100%;
}

.listado-menu{
  padding: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 736px;
  text-align: center;
}

.opcion{
  display: flex;
  justify-content: center;
  font-size: x-large;
  text-align: center;
  color: snow;
  padding: 10%;
  background-image: url(../img/fondo-gris.jpg);
  width: 30%;
  height: 100%;
  border-radius: 20px;
}

.opcion:hover{
  background-image: url(../img/fondo-hover.jpg);
  font-weight: bold;
}

.invisible{
  display: none;
}

footer{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100px;
  padding: 80px;
  background-color: #7C90A0;
}

#mostrador{
  display: flex;
  justify-content: center;
  background-image: url(../img/mostrador.jpeg);
  height: 100%;
  width: 100%;
  align-content: center;
  align-items: center;
  font-size: large;
}
